.page-container{
    height:100%;
    background-image: url('../../../images/ocean-water-wave-photo-1295138.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}