#pageHeader{
    background-color: rgba(0,0,0,0.3);
    
    .jax-tides-logo{
        height:2.375em;
        width:7.875em;
    }

    & a.navbar-brand{
        padding:1em;
    }
    
    & button.navbar-toggler{
        border:0px;
        & span.navbar-toggler-icon{
            font-size: 2.2rem;
            color:white;
        }
        &:active{
            outline: none;
            background-color: rgba(0,0,0,0.3);
        }
        &:hover{
            outline: none;
            background-color: rgba(0,0,0,0.3);
        }
        &:focus{
            outline:none;
        }
    }

    & div.link a{
        color:white;
        text-decoration: none;
        border-radius:0.3em;
        padding:1em;
        display:block;
        width:100%;
        &:hover{
            background-color: rgba(0,0,0,0.3);
        }
    }
}
